html {
       font-family: 'Montserrat', sans-serif;
}

body {
  background: url("/assets/images/IMG_5951.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 1.2em;
  width:  60%;
  margin: 0 auto;
  margin-top: 6em;
}


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  body {
    width: 93%;
    margin-top: 2.3em;
    font-size: 1em;
  }

p {
  font-size: 1.2em;
}

h1 {
  margin-bottom: 1em;
}
